*{margin:0;padding: 0;}
html{font-family: Arial, Helvetica, sans-serif;}
.container{margin: 0 auto; width: 67.5%;}/*960px;*/
h1{font-size: 2em;}/* 32px; */
.brief{margin: 1% 0;} /*5 / 593 == 0.84 arrendodado para 1%*/
.content{margin: 1.5625%;} /*15px 0;*/
.content-main{float: left;width:61.7708%;} /*float:left;width: 593px; 593(content-main) / 960 (container)*/
.hero{margin: 4.2158% 0;} /*margin: 25px 0;" */
.last-contents{font-size: .75em;} /* 12 / 16 (16 é o tamanho padrão de fontes desktop)*/
.last-content-call{float:left;margin: 2.5295% 2.5295% 2.5295% 0;width: 47.2175%;} /*margin 15/593(.content-main) || width 280/593 */
.last-content-call .secondary-title{margin-bottom: 0;}
.last-content-call .brief{margin: 1.7857% 0;} /* margin: 5px;   5 / 280==1.7857%*/
.content-sidebar{background-color: #F0F0F0;float: right; padding: 1.0416%; width: 33.5416%;}
.main-nav ul{list-style-type: none;}
.main-nav li{background-color: #f9f9f9;float: left;margin: 4.6583%; /*15/322(.content-sidebar)*/outline: 1px solid #DEDEDE; text-align: center; width: 40.3726%; /* 130px / 322px (.content-sidebar)*/}
.main-nav a{display: block; padding: 7.6923% 0; /* 10/130 */text-decoration: none;}
.main-footer{background-color: #F0F0F0;clear: both;float:left;font-size: .75em;margin: 1.5625% 0;padding: 1.5625%;text-align: center;width: 100%;}

img,iframe,object,embed,video{max-width: 100%;height: auto;}

@media all and (max-width: 640px){
	.content-main{float: none;}
	.last-content-call{float:none; width:auto;}
	.content-sidebar{float:none;}
}

@media all and (max-width: 320px){
	.main-nav li{float:none;width: auto;}
}